/* .btn {
    margin: 15px;
    justify-content: right;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-box{
	border-radius: 5px;
	width: 50%;
	text-align: center;
}
img{
	border-radius: 5px;

}
.about{
	margin-left: 150px;
	height: 50%;
	width: 24%;
}
.title{
	
	line-height: 10px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.price{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}


.counter{
	position: relative;
	margin-top: 100px;
	margin-left: -100px;
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btns{
    width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #d9d9d9;
    display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}

.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}

.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.remove{
	padding-top: 5px;
	font-size: 10px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
} */
#cart-btn {
	top: -70px;
	float: right;
}

.offcanvas {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(252, 252, 252);
	/* justify-content: center; */
	margin: 0 auto;
}


img {
	border-radius: 10px;
	align-items: center;
	height: 100%;
}

.Cart-Item {
	
	background-color: rgb(255, 255, 255);
	display: flex;
	padding: 10px;
	/* border: 1px solid red; */
	border-radius: 10px;
	height: 25%;
	box-shadow: 1px 3px 10px rgba(70, 70, 70, 0.250);
	/* align-items: center; */
	margin-bottom: 5px;
}
.about{
	margin: 5px;
	height: 50%;
	width: 50%;
}
.title {
	font-size: 16px;
	font-weight: 700;
	/* height: 25%; */
}

.price {
	font-size: 16px;
	color: gray;
}

.counter {
	display: flex;
	height: 15%;
	position: relative;
	height: 50%;

}

.amount{
	font-size: 20px;
	font-weight: 700;
	height: 25%;
}

.btns {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	font-weight: 900;
	/* align-items: center; */
	text-align: center;
	/* justify-content: center; */
	border-radius: 50%;
	color: white;
	background-color: rgb(10, 165, 255);
	cursor: pointer;
}

.count {
	font-size: 16px;
	font-weight: 900;

}

.remove {
	color: red;
}


